 .u-section-1 {
  min-height: 252px;
  background-image: linear-gradient(to right, #b5f8ef, #00e0c0);
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 1px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 68px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 300px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 95px auto 0;
  padding: 10px 39px 11px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-1 {
    margin-top: 49px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 237px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 227px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 19px 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 937px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 837px;
  margin-top: 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}